* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: black;
  background-color: #f9f7f3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  transition: all 0.5s linear;
}

body #mainSection {
  width: 100%;
  background-image: url(./images/backgroundImg1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  transition: all 0.5s linear;
  box-shadow:10px 10px 10px black;
}

.dark-mode {
  color: #fff !important;
  background-color: #0a0908 !important;
}

.light-mode {
  color: black !important;
  background-color: #f9f7f3 !important;
}


/* NAVBAR */

#navbar {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: top 0.3s;
  z-index: 1;
}

#nav {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
 
}

.block {}

#leftBlock {
  height: 80%;
  width: 30%;
  display: flex;
  align-items: center;
}

#leftBlock h1 {
  position: relative;
  left: 220px;
}

#rightBlock {
  height: 80%;
  width: 65%;
  display: flex;
}

#rightBlock .navButtons {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: space-evenly;
}


/* NAV-MIDDLE-BUTTONS */

.navBtns {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-size: 17px;
  padding: 0.8em 1.5em;
  font-weight: 500;
  background-color: transparent;
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 0.6em;
  cursor: pointer;
  transition: all 0.5s linear;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 0.6em;
  margin-top: -0.25em;
}

.label {
  position: relative;
  top: -1px;
}

.transition {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 500ms;
  background-color: rgba(16, 185, 129, 0.6);
  border-radius: 9999px;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

button:hover .transition {
  width: 9em;
  height: 3em;
}

button:active {
  transform: scale(0.97);
}

/* NAV-RESUME-BTN */

.button {
  display: inline-block;
  padding: 12px 24px;
  background-color: transparent;
  border: 1px solid #4f4f4f;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 19px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.5s linear;
}

.button:before {
  background-color: transparent;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #39bda7;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:hover {
  color: #ffff;
  border: 1px solid #39bda7;
}

.button:hover:before {
  top: -35%;
  background-color: #39bda7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button:hover:after {
  top: -45%;
  background-color: #39bda7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/* TOGGLE-SWITCH */
.toggle {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
}

#toogleOuter {
  height: 35px;
  width: 70px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  background-image: url(./images/clouds.jpg);
  background-position: center;
  background-size: cover;
  transition: all 0.3s linear;
}

#toogleOuter #toggleMid {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: relative;
  left: 2px;
  background-image: url(./images/sun.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.3s linear;
}


/* MAIN-HOME-SECTION */

#main {
  height: 550px;
  width: 100%;
  background-color: transparent;
}

#main .home {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}

#main .home .mainBlock {
  height: 60%;
  width: 50%;
  position: relative;
  top: -20px;
  right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #39bda7; */
}
#main .home .mainBlock .heading1{
  display: flex;
  font-size: 25px;
  font-weight: 150;
  color: black;
}
#main .home .mainBlock .heading1 #hand{
  height: 20px;
  width: 20px;
  animation: handShake 0.5s linear infinite;
}
@keyframes handShake {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-40deg);
  }
}

#main .home .mainBlock .name{
  margin-top: 10px;
  font-size: 110px;
  padding: 20px 0px 0px 0px;
  color: black;
}
#main .home .mainBlock #friend{
  height: 350px;
  width: 500px;
  color: black;
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  right: 0px;
  top: 250px;
}


/* SOCIALS-CONTAINER */

.socialBox{
  position: relative;
  top: 30px;
  right: 40px;
  transform: rotate(3deg);
}
.socialCard {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.socialContainer {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .8s;
  border-radius: 50%;
}

/* instagram*/

.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
  box-shadow: 15px 15px 30px rgb(25, 25, 25),
    -5px -5px 30px rgb(253, 252, 252);
}

/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
  box-shadow: 15px 15px 30px rgb(25, 25, 25),
    -5px -5px 30px rgb(253, 252, 252);
}

/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
  box-shadow: 15px 15px 30px rgb(25, 25, 25),
    -5px -5px 30px rgb(253, 252, 252);
}

/* Whatsapp*/
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
  box-shadow: 15px 15px 30px rgb(25, 25, 25),
    -5px -5px 30px rgb(253, 252, 252);
}
.containerFive:hover {
  background-color: #000;
  transition-duration: .3s;
  box-shadow: 15px 15px 30px rgb(25, 25, 25),
    -5px -5px 30px rgb(253, 252, 252);
}
.containerFive svg{
  color: black;
}
.containerFive svg:hover{
  color: white;
}
.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 25px;
  font-size: 500;
}

.socialSvg path {
  fill: black;
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}



/* ABOUT-SECTION */

.about{
  height: 600px;
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .aboutMe{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 250;
  font-size: 15px;
}
.about .aboutMe p{
  font-size: 50px;
  font-weight: 400;
}
.about .iAm{
  color: #c1121f;
  font-size: 20px;
  position: relative;
  left: -480px;
  margin-top: 30px;
}

.about .aboutMain{
  margin-top: 10px;
  height: 80%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.about .aboutMain .aboutPhoto{
height: 100%;
width: 40%;
display: flex;
align-items: center;
justify-content: center;
}
.about .aboutMain .aboutSelf{
  height: 100%;
  width: 50%;
  }

  .about .aboutMain .aboutSelf .aboutName{
    width: 100%;
    margin-top: 10px;
    font-size: 25px;
    font-weight: 450;
    word-spacing: 5px;
  }
  .about .aboutMain .aboutSelf .aboutMySelf{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 300;
    font-variant: small-caps;
    word-spacing: 10px;
    text-align: justify;
  }
  .about .aboutMain .aboutSelf .tech{
    color: #c1121f;
    font-size: 15px;
    font-weight: 300;
    margin-top: 10px;
  }
  .about .aboutMain .aboutSelf .technologies{
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    font-weight: 700;

  }
  .about .aboutMain .aboutSelf .technologies svg{
    color: #c1121f;
  }
  .about .aboutMain .aboutSelf .technologies .techBlock{
    display: flex;
  }
  .about .aboutMain .aboutSelf .mySelf{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .about .aboutMain .aboutSelf .mySelf .nameAge{
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .intro,.introPara{
    display: flex;
    font-weight: 300;
    margin-left: 10px;
  }


  /* WHAT-I-CAN-DO */

  .whatCanIDo{
    height: 600px;
    width: 100%;
    position: relative;
    top: 130px;
  }
  .whatCanIDo .whatDo{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .whatCanIDo .whatDo .txt1{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .whatCanIDo .whatDo .txt1 #headTxt1 {
    font-size: 50px;
    font-weight: 300;
  }
  .whatCanIDo .whatDo .txt1 #headTxt2{
    font-size: 13px;
    font-weight: 300;
  }

  .section1{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
  }
  .section1 .row{
    height: 45%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .card {
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    overflow: visible;
    width: 250px;
    height: 210px;
  }
  .card:hover {
    transform: scale(1.05);
  }
  .card:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }
  .content {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms;
    box-shadow: 0px 0px 10px 1px #000000ee;
    border-radius: 5px;
  }
  .card.flipped .content {
    transform: rotateY(180deg);
  }
  .front,
  .back {
    background-color: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
  }
  .back {
    width: 100%;
    height: 100%;
  }
  .back-content {
    position: absolute;
    width: 99%;
    height: 99%;
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .back-content .app p{
    margin-top: 15px;
    font-weight: 400;
  }
  .front {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .front .keyPoints{  
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    border-bottom: 1px solid;
  }
  .front .keyPoints p{
    font-weight: 300;
    font-size: 14px;
  }
  .front .softHead{
    font-weight: 400;
    font-size: 18px;
  }

  /* FRONT-PAGE-HIRE-ME-BUTTON */
  button {
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #000;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #000;
    transition: 0.5s ease;
    user-select: none;
    margin-top: 10PX;
  }
  
  #btn:hover,
  :focus {
    color: #ffffff;
    background: #008cff;
    border: 1px solid #008cff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
      0 0 100px #008cff;
  }
  


  /* PROJECTS-SECTION */

  .project-section{
    position: relative;
    top: 250px;
    height: 500px;
    width: 100%;
  }
  .projects{
    height: 100%;
    width: 100%;
  }
  .project-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #projectTxt1 {
    font-size: 50px;
    font-weight: 300;
  }
  #projectTxt2{
    font-size: 15px;
    font-weight: 300;
  }
  .pro-sec1{
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .proRow{
    height: 45%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .proRow a{
    text-decoration: none;
  }

  /* PROJECT-CARD */

  .proCard {
    width: 395px;
    height: 240px;
    background: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out;
    cursor: pointer;
  }
  .proCard .img {
    position: absolute;
    transition: 0.2s ease-in-out;
    z-index: 1;
  }
  
  .textBox {
    width: 80%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: 0.2s ease-in-out;
    z-index: 1;
    text-align: center;
    cursor: pointer;
  }
  
  .textBox > .text {
    font-weight: 800;
  }
  
  .textBox > .head {
    font-size: 22px;
    color: black;
  }
  
  .textBox > .price {
    font-size: 17px;
  }
  
  .textBox > #port-about {
    font-size: 13px;
    font-weight: 400;
  }
  
  .proCard:hover > .textBox {
    opacity: 1;
    color: #fff;
  }
  
  .proCard:hover > .img {
    filter: blur(10px);
  }
  .proCard:hover {
    transform: scale(1.04) rotate(-1deg);
  }
  
  /* FOOTER */

  #footer{
    position: relative;
    top: 200px;
    font-size: 15px;
    font-weight: 400;
  }
  #footer span{
    color: #00acee;
  }